@charset "UTF-8";
/* colores utilizados */
/* tamaños mas usados */
/* comienza clases de fondos y font-family */
.colorDeFondo {
  background-color: darkcyan;
  font-family: 'Nanum Gothic', sans-serif; }

.colorDeFondoD {
  background-color: #75bbc0;
  font-family: 'Nanum Gothic', sans-serif; }

.colorDeFondoC {
  background-color: #033247;
  font-family: 'Nanum Gothic', sans-serif; }

/* termina clases de fondos y font-family */
/* comienza css de p y hr */
p {
  background-color: honeydew;
  color: darkcyan;
  text-align: justify;
  text-indent: 25px; }

hr {
  color: white;
  margin: 10px; }

/* termina css de p y hr */
/* comienza clases en todas las paginas */
.containerI2 {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 1528px;
  margin-top: 10%;
  background-color: #033247; }
  .containerI2__row {
    text-align: center;
    list-style-type: none;
    width: 100%;
    background-color: #033247; }
  .containerI2__col {
    padding: 20px; }
  .containerI2__col-m {
    padding: 20px;
    padding-right: 20px;
    border-right: 1px solid #ccc; }
  .containerI2__a {
    margin-bottom: 0px;
    background-color: #033247;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue; }

.header__img {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; }

.nav {
  background-color: honeydew; }
  .nav__link {
    color: darkcyan;
    font-size: 25px; }

/* termina clases en todas las paginas */
/* comienza media queries de Index */
@media only screen and (max-width: 768px) {
  .containerI__p {
    font-size: 15px; }
  .containerI__col {
    margin: 2px;
    padding: 0px; } }

@media only screen and (max-width: 634px) {
  .containerI__row, .containerB__row, .containerL__row {
    display: block; }
  .containerI__img {
    margin: auto; }
  .containerI__p {
    font-size: 10px; } }

/* Termina media queries de Index */
/* comienza clases en "Index" */
.containerI {
  max-width: 1320px;
  margin: auto; }
  .containerI__row, .containerB__row, .containerL__row {
    align-items: center;
    justify-items: center;
    margin: auto; }
  .containerI__item {
    background-color: honeydew;
    padding-top: 30px;
    padding-bottom: 30px; }
  .containerI__h1 {
    background-color: antiquewhite;
    font-size: 40px;
    text-align: center;
    color: darkcyan;
    animation: bounce;
    animation-duration: 2s; }
  .containerI__img {
    min-width: 309px;
    max-width: 500px;
    height: 400px; }
  .containerI__col-pFondo {
    margin: 10px;
    color: #1c252e;
    background-blend-mode: overlay;
    opacity: 70%; }
  .containerI__p {
    background-color: white;
    color: #1c252e;
    font-size: 18px;
    padding: 10px; }

/* termina clases en "Index" */
/* comienza clases en "Biografia" */
.containerB {
  max-width: 1320px;
  margin: auto; }
  .containerB__boton {
    max-width: 200px;
    margin: auto; }
  .containerB__item {
    background-color: honeydew;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    animation-name: appear;
    animation-duration: 2s; }
  .containerB__h2 {
    text-align: center;
    color: honeydew;
    background-color: darkcyan; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .containerB__img, .containerB__row-carousel {
    max-width: 500px;
    height: 400px; }
  .containerB__row-carousel {
    margin: auto; }

/* termina clases en "Biografia" */
/* comienza media queries de "Libros"*/
@media only screen and (max-width: 765px) {
  .containerL__img {
    min-width: 100px;
    max-width: 100%;
    max-height: 150px;
    padding: 0px; } }

@media only screen and (max-width: 992px) {
  .containerL {
    max-width: 98%; } }

@media only screen and (max-width: 800px) {
  .containerL__img {
    min-width: 100px;
    max-width: 100%;
    max-height: 240px;
    padding: 0px; } }

@media only screen and (max-width: 660px) {
  .containerL__row {
    display: block; }
  .containerL__col-3 {
    margin: auto;
    min-width: 230px;
    height: 240px; }
  .containerL__col-9 {
    width: 98%;
    font-size: 13px; }
  .containerL__img {
    min-width: 230px;
    height: 240px; } }

/* Termina media queries de "Libros" */
/* comienza clases en "Libros" */
.containerL {
  padding: 2px; }
  .containerL__col-3 {
    max-width: 25%;
    padding: 0px; }
  .containerL__h1, .containerB__h1, .containerR__h1 {
    text-align: center;
    color: honeydew;
    background-color: darkcyan;
    margin-top: 20px;
    margin-bottom: 20px; }
  .containerL__img {
    min-width: 90px;
    max-width: 290px;
    max-height: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px; }
  .containerL__img:hover {
    transform: skewY(5deg); }
  .containerL__item {
    background-color: honeydew;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; }
  .containerL__titulo {
    color: darkcyan;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }

/* termina clases en "Libros" */
/* comienza clases en reseñas */
/* termina clases en "Reseñas" */
/* comienza clases en "Contacto" */
.containerC {
  max-width: 300px; }
  .containerC__h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px; }
  .containerC__form {
    font-size: 15px;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 100px;
    animation: bounceInUp;
    animation-duration: 2s;
    text-align: center; }
  .containerC__item-gris {
    color: dimgrey; }

/* termina clases en "Contacto" */
