/* colores utilizados */ 
$colorCremaFondoTexto: honeydew; 
$textoIndex: rgb(28, 37, 46);
$colorBlanco: white;
$modalTexto: dimgrey; 
$azulOscuroFondo: #033247;
$fondoRow: cadetblue;
$fondoTitulo: lightblue;
$fondoNav: burlywood;





