/* colores utilizados */ 
$colorVerdeUsual: darkcyan; 
$colorCremaFondoTexto: honeydew; 
$textoIndex: rgb(28, 37, 46);
$celesteFondoByLyR: rgb(117, 187, 192);
$colorBlanco: white;
$modalTexto: dimgrey; 
$rosaFondo: antiquewhite;
$azulOscuroFondo: #033247;





